// _480.scss

@media only screen and (max-width: 480px) {

	nav { 
		a:nth-of-type(2) {
			position: relative;
  			left: -4vw;
		}
	}

	.footer-nav {
		img {
	  		width: 8vw;
		}
	}

	/* Gallery */

	.gallery-grid {
		li {
			width: 100%;
			margin: 0 0 1rem 0;
		}
		li:last-of-type {
			margin-bottom: .5rem;
		}
	}

	/* Menu */

	.menu-title, .menu-price {
		line-height: 1.3;
		margin-bottom: 0.2rem;
		margin-top: .5rem;
	}

	/* Reservations */
	
	.reservations h1 {
		font-size: 2.1rem;
	}

	.half {
		width: 100%;
	}

	.half:nth-of-type(1) {
		padding: 2rem 0 3rem;
	}

	.half:nth-of-type(2) {
  		border-left: none;
  		border-top: 0.15rem solid;
  		padding: 2rem 0; 
	}

	.button {
		width: 80%;
		max-width: 100%;
	}

}