
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=ecfc54f333e4aa9e84d12451e148422f
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
